
<html>
  <head>
    <meta/>
    <title>hello</title>
  </head>
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/email.js"></script>
  <body ng-app="myApp">
    <div ng-controller="siteCtrl">
      <input type="text" ng-model="value"/>
      <input type="text" ng-model="title"/>
      <input type="text" ng-model="content"/>
      <button ng-click="tijiao()">提交</button>
    </div>
    <div style="width: 1700px;height:800px;margin:0 auto" id="main"></div>
  </body>
</html>