block content
    h1= title
    p Welcome to #{title}
    script( src='/javascripts/angular.js')
    script( src='/javascripts/phone.js')
   body(ng-app="myApp")
     div(ng-controller="siteCtrl")
       button(ng-click="huoqu()")='提交'
       input(type="text" ng-model="code")
       div=code
       button(ng-click="tijiao()")='校验'
     div(style="width: 1700px;height:800px;margin:0 auto")#main
